@using InternProject.Web.Models.Common.Modals
@model InternProject.Web.Models.Categories.CategoryListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="CategoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateCategory")))
            <form name="categoryCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="category-name">@L("Name")</label>
                        <div class="col-md-9">
                            <input id="category-name" type="text" name="Name" class="form-control" required maxlength="100">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="category-description">@L("Description")</label>
                        <div class="col-md-9">
                            <textarea id="category-description" name="Description" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("IsActive")</label>
                        <div class="col-md-9">
                            <div class="form-check mt-2">
                                <input id="category-is-active" type="checkbox" name="IsActive" class="form-check-input" value="true" checked>
                                <label class="form-check-label" for="category-is-active">@L("Active")</label>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
